.idea
*.iml
logs/
logs/*
.project
.classpath
.settings

.idea/
*.iml

*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*/scripts/*.pyc
*/scripts/*.*
target
